// ==============================================================
// footer
// ==============================================================
footer.footer.text-center
	| All Rights Reserved by #{sails.config.globals.customer_name} Designed and Developed by 
	a(href='https://mobigic.com') Mobigic Technologies Pvt Ltd
	| .
// ==============================================================
// End footer
// ==============================================================
