meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
// Tell the browser to be responsive to screen width
meta(name='viewport', content='width=device-width, initial-scale=1')
meta(name='description', content='')
meta(name='author', content='')
// Favicon icon
link(rel='icon', type='image/png', sizes="180x180", href='/images/client_logo.png')
title #{sails.config.globals.app_name}
// Custom CSS
link(href='/libs/select2/dist/css/select2.min.css', rel='stylesheet')
link(href='/libs/magnific-popup/dist/magnific-popup.css', rel='stylesheet')
link(href='/dist/css/style.min.css', rel='stylesheet')
link(href='/dist/css/custom.css', rel='stylesheet')
link(href='/dist/css/fakeLoader.css', rel='stylesheet')
link(href='/dist/css/sweetalert2.min.css', rel='stylesheet')
link(href="/libs/timeline/timeline.css" type="text/css" rel='stylesheet')
//link(rel='stylesheet', href='http://joaopereirawd.github.io/fakeLoader.js/demo/css/fakeLoader.css')
// HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
// WARNING: Respond.js doesn't work if you view the page via file://
//if lt IE 9
		//- script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')-cdn
		//- script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')-cdn
		script(src='/dist/js/html5shiv.js')
		script(src='/dist/js/respond.min.js')
		
//-link(href='https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.css', rel='stylesheet')
